.aboutus {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px;
  width: 80%;
  margin: 30px auto;
}

.aboutus h2 {
  font-weight: 400;
}

.aboutus p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutus img {
  width: 100%;
}

.ourfounder {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px;
  width: 80%;
  margin: 30px auto;
}

.ourfounder p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ourfounder img {
  width: 100%;
}

.ourfounder h2 {
  font-weight: 400;
}
