.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 40px;
  width: 90%;
  max-width: 1400px;
  z-index: -2;
}

.card {
  width: 100%;
  height: 350px;
  border: 1px solid #a4a4a4;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 15px;
  max-width: 200px;
  border-radius: 10px;
}

.card-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  height: 2.4em;
  overflow: hidden;
}

.card-price {
  margin-top: auto;
}

.price {
  font-size: 14px;
}

.price del {
  color: #777;
  margin-right: 8px;
  font-size: 14px;
}
