/* question section */
.question-container {
  margin: 2rem auto;
  padding: 2rem;
}

.question-heading {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.question-p {
  text-align: center;
  margin-bottom: 20px;
}

.question-name {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.question-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  padding: 10px;
}

.option:hover {
  background-color: #f8d9e3;
  border-radius: 15px;
}

.checkbox {
  margin-right: 0.75rem;
}

/* results section */
.results-conatiner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-item {
  display: flex;
  flex-direction: column;
}

.result-question {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.result-answer {
  font-size: 15px;
  color: #666;
  margin-top: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 30px;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: #f8dce8;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}
.btn:hover {
  background-color: #f3c3d2;
}
.btn:disabled {
  background-color: #f8dce8;
  cursor: not-allowed;
}

/* advice section */
.advice-title {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.advice-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice-card {
  display: flex;
  flex-direction: column;
}

.advice-category {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.advice-text {
  font-size: 15px;
  color: #666;
  margin-top: 5px;
}
