/* question section */
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
}

.question-heading {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.question-p {
  text-align: center;
  margin-bottom: 20px;
}

.question-name {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.question-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  width: 80%;
  max-width: 600px;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  padding: 10px;
}

.option:hover {
  background-color: grey;
  border-radius: 15px;
}

.checkbox {
  margin-right: 0.75rem;
}

/* start screen section */
.start-screen {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* results section */
.results-conatiner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-item {
  display: flex;
  flex-direction: column;
}

.result-question {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.result-answer {
  font-size: 15px;
  color: #666;
  margin-top: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

button {
  margin-top: 30px;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: grey;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  text-align: center;
}
.btn:hover {
  background-color: #777777;
}
.btn:disabled {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

.results-btn {
  margin-top: 30px;
}

/* advice section */
.advice-title {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.advice-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice-card {
  display: flex;
  flex-direction: column;
}

.advice-category {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.advice-text {
  font-size: 15px;
  color: #666;
  margin-top: 5px;
}

.advice-btn {
  margin-top: 30px;
}

.rec-btn {
  width: 200px;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: grey;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}
